<div class="test-edit">
  <h2>{{title}}</h2>
  <div class="form-group">
    <label for="title">Title</label>
    <br />
    <input type="text" id="Title" [(ngModel)]="test.Title" placeholder="Enter title here..." class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <br />
    <input type="text" id="description" [(ngModel)]="test.Description" placeholder="Enter description here..." class="form-control" />
  </div>
  <div class="form-group">
    <label for="text">Additional information</label>
    <br />
    <textarea id="text" [(ngModel)]="test.Text" placeholder="Enter text here..." class="form-control"></textarea>
  </div>
  <div class="form-group commands">
    <input *ngIf="editMode" type="button" value="Save changes" (click)="onSubmit(test)" class="btn btn-primary"/>
    <input *ngIf="!editMode" type="button" value="Add test" (click)="onSubmit(test)" class="btn btn-primary"/>
    <input type="button" value="Cancel" (click)="onBack()" class="btn btn-dark"/>
  </div>

  <question-list [test]="test" *ngIf="editMode"></question-list>
  <result-list [test]="test" *ngIf="editMode"></result-list>

</div>

