<h3>Questions</h3>
<div *ngIf="questions.length > 0">
  <table class="questions">
    <thead>
    <tr>
      <th>Content</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
      <td>{{question.text}}</td>
      <td>
        <input type="button" value="Edit" (click)="onEdit(question)"/>
        <input type="button" value="Remove" (click)="onDelete(question)"/>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="questions.length == 0">
  This test doesn't have any questions yet. Use <strong>Add question</strong> to create one !
</div>
<input type="button" value="Add question" (click)="onCrete()"/>
