<h2>{{title}}</h2>
<div class="question-edit">
  <div class="form-group">
    <label for="text">Text:</label>
    <br />
    <textarea id="text" [(ngModel)]="question.Text" placeholder="Enter text of the question here..." class="form-control"></textarea>
  </div>
  <div class="commands">
    <input *ngIf="editMode" type="button" value="Save changes" (click)="onSubmit(question)" class="btn btn-success" />
    <input *ngIf="!editMode" type="button" value="Create question" (click)="onSubmit(question)" class="btn btn-success"/>
    <input type="button" value="Cancel" (click)="onBack()" class="btn btn-primary"/>
  </div>

  <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>
